
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.chatbot-frame {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  transition: width 0.3s ease, height 0.3s ease;
  border: none;
  z-index: 9999;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.chatbot-frame:hover {
  width: 500px;
  height: 600px;
  border-radius: 12px;
}

/*This is for let the chatbot be opened even after mouse is gone*/
/*
.chatbot-frame.open {
  width: 500px;
  height: 900px;
  border-radius: 12px;
}*/
