<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AI Chatbot</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&display=swap" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/chatbot.css') }}">
</head>
<body>
  <div class="chatbot-popup">
    <div class="chatbot-header">
      <div class="header-info">
        <div class="logo-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
            <path d="..." />
          </svg>
        </div>
        <h2 class="logo-text">Chatbot</h2>
      </div>
      <button id="close-chatbot" class="material-symbols-rounded">keyboard_arrow_down</button>
    </div>

    <div class="chat-body"></div>

    <div class="chat-footer">
      <form action="#" class="chat-form">
        <textarea placeholder="Message..." class="message-input" rows="2"></textarea>
        <div class="chat-controls">
          <button type="button" class="material-symbols-rounded">mic</button>
          <button type="button" id="upload-btn" class="material-symbols-rounded">attach_file</button>
          <!--<input type="file" id="file-input" style="display: none;">
          <p id="file-name"></p>-->
          <button type="submit" class="material-symbols-rounded">send</button>
        </div>
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', path='js/chatbot.js') }}"></script>
</body>
</html>
