
<div id="id01" class="modal">

  <form class="modal-content animate" onsubmit="login(event)">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" id="username" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" id="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
<script type="module" src="{{ url_for('static', path='js/login.js') }}"></script>