<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h1>Signup Form</h1>
    <form id="signup-form">
        <input type="text" id="first_name" placeholder="First Name" required />
        <input type="text" id="last_name" placeholder="Last Name" required />
        <input type="email" id="email" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <button type="submit">Signup</button>
    </form>

    <!-- Connect to Javascript -->
    <script src="../static/js/signup.js"></script>
</body>
</html>
