<!-- templates/login.html -->
<!--{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Enter your account</h1>
    <form id="signup-form">
        <input type="email" id="email" placeholder="Enter your email" required />
        <input type="password" id="password" placeholder="Enter your password" required />
        <button type="submit">login</button>
        <div class="signup-form">
            <button class="btn" onclick="window.location.href='/'">Signup</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='js/signup.js') }}"></script>
{% endblock %} -->